In [11]:
from pathlib import Path
import pandas as pd

In [8]:
path_root = Path('/Volumes/MyWorld/FIW-MM/data')
path_data = path_root.joinpath('FIDs-MM')
path_lists = path_root.joinpath('lists')

In [9]:
path_faces = list(path_data.glob('F????/MID*/faces/*.jpg'))  
len(path_faces)

126058

In [15]:
df_db = pd.DataFrame(path_faces, columns=['paths'])
df_db['paths'] = df_db['paths'].astype(str)

In [16]:
df_db.head()

                                               paths
0  /Volumes/MyWorld/FIW-MM/data/FIDs-MM/F0001/MID...
1  /Volumes/MyWorld/FIW-MM/data/FIDs-MM/F0001/MID...
2  /Volumes/MyWorld/FIW-MM/data/FIDs-MM/F0001/MID...
3  /Volumes/MyWorld/FIW-MM/data/FIDs-MM/F0001/MID...
4  /Volumes/MyWorld/FIW-MM/data/FIDs-MM/F0001/MID...

In [20]:
df_db['fid'] = df_db.paths.apply(lambda x: x.replace(f"{path_data}/","").split('/')[0])
df_db['mid'] = df_db.paths.apply(lambda x: x.replace(f"{path_data}/","").split('/')[1])
df_db['ref'] = df_db['fid'] + "." + df_db['mid']

df_db.head()

                                               paths    fid   mid         ref
0  /Volumes/MyWorld/FIW-MM/data/FIDs-MM/F0001/MID...  F0001  MID1  F0001.MID1
1  /Volumes/MyWorld/FIW-MM/data/FIDs-MM/F0001/MID...  F0001  MID1  F0001.MID1
2  /Volumes/MyWorld/FIW-MM/data/FIDs-MM/F0001/MID...  F0001  MID1  F0001.MID1
3  /Volumes/MyWorld/FIW-MM/data/FIDs-MM/F0001/MID...  F0001  MID1  F0001.MID1
4  /Volumes/MyWorld/FIW-MM/data/FIDs-MM/F0001/MID...  F0001  MID1  F0001.MID1

In [24]:
df_db.describe().to_clipboard()

,paths,fid,mid,ref
126053,/Volumes/MyWorld/FIW-MM/data/FIDs-MM/F1018/MID...,F1018,MID8,F1018.MID8
126054,/Volumes/MyWorld/FIW-MM/data/FIDs-MM/F1018/MID...,F1018,MID8,F1018.MID8
126055,/Volumes/MyWorld/FIW-MM/data/FIDs-MM/F1018/MID...,F1018,MID8,F1018.MID8
126056,/Volumes/MyWorld/FIW-MM/data/FIDs-MM/F1018/MID...,F1018,MID8,F1018.MID8
126057,/Volumes/MyWorld/FIW-MM/data/FIDs-MM/F1018/MID...,F1018,MID8,F1018.MID8